:root {
    --darkblue: #8F96FF;
    --deepdarkblue: #6670ff;
    --blue: #8FBAFF;
    --deepblue: #66a1ff;
    --lightblue: #8FDDFF;
    --green: #8FFFD8;
    --aqua: #8FFFFD;
    --white: #E3F7FF;
    --black: #2C42BE;
    --yellow: #fffd8f;
    --deepyellow: #fffc66;
    --red: #ff8f98;
    --deepred: #ff6673;
    --darkblack: #225091;
    --lightblack: #0047b3;
    --lightwhite: #f8feff;
    --superwhite: #f1fcff;
}