:root {
    --darkblue: #8F96FF;
    --blue: #8FBAFF;
    --lightblue: #8FDDFF;
    --green: #8FFFD8;
    --aqua: #8FFFFD;
    --white: #E3F7FF;
    --black: #2C42BE;
    --yellow: #fffd8f;
    --red: #ff8f98;
}