@import "./colors.css";

.set {
    /* height: fit-content;
    max-height: 18em;
    overflow: hidden;
    border-bottom: 1px solid var(--blue); */
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}